body {
  font-family: sans-serif;
  font-size: 70%;
  background-color: #D6D6D6;
  margin-left: 26%;
  margin-right: 26%;
  background: linear-gradient(90deg, #fefbd8 84.5%, #618685 15.5%);
}

h1 {
  margin-top: 11.5%;
}

p {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
}

h1, h2, h3 {
  color: #7F7E7E;
}

#addBallotButton, #submit {  
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 4vw;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 50px;
  position: fixed;
  width: 9vw;
  right: 3%;
  font-size: 1vw;
}

#addBallotButton {
  background-color: #36486b;
  top: 15%;
}

#submit {
  bottom: 15%;
  background-color: #4040a1;
}

.candidates {
  display: inline-block;
  width: 100%;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.handle-ballot, .ballot {
  width: 100%;
}

.ballot {
  margin-bottom: 3.5%;
  position: relative;
}

#ballots {
  margin: 0 auto;
  width: 100%;
}

.ballot-remove {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-top: 0.5%;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
  float: left;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:after {
  display: inline-block;
  position: absolute;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: '\f077';
  transform: translate(-50%, -50%) rotate(180deg);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
  max-width: 2.5rem;
  padding: .25rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 1rem;
  height: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.increaser, .decreaser {
  cursor: pointer;
}

.deranked, .ranked {
  width: 47.5%;
  display: inline;
}

.deranked {
  float: left;
}

.ranked {
  float: right;
}

.rank-button, .derank-button {  
  height: 40px;
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rank-button {
  background-color: grey;
  margin-right: 5%;
}

label {
  user-select: none;
  -webkit-user-select: none;
}

#outcome {
  margin-bottom: 3.5%;
}

.person-icon {
  left: -4%;
  position: absolute;
  top: -6.5%;
  transform: translate(-50%, 0.75rem);
  width: 5%;
}