body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  background-color: white;
}

input, textarea, button {font-family: inherit}

h1 {
  color: #7F7E7E;
  font-size: 28px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #069;
}

.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

button {
  white-space: break-spaces;
}

#addButton, #submit {  
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 3px;
}

#addButton {
    background-color: #617487;
}

#submit {  
  background-color: #0C2032;
  margin-top: 1%;
  margin-left: 250px;
  opacity: 0;
  cursor: default;
}

#alternatives {
  margin-top: 1.5%;
  width: 310px;
  height: 160px;
  background-color: #aaa;
  border-radius: 7px;
}

.alternative-div {
  width: 310px;
  height: 40px;
  background-color: #C2C2C2;
  border: solid #aaa 0.3em;
  border-radius: 7px;
}

.alternative-span {
  float: left;
  margin-left: 7px;
  margin-top: 7px;
}
.alternative-button {
  float: right;
  margin-right: 7px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  margin-top: 7px;
}

#description {
  font-size: 16px;
  text-align: justify;
  text-justify: inter-word;
  width: 310px;
}

#links {
  position: fixed;
  left: 3%;
  bottom: 5%;
}

#links #links-list .links-list-li { display: inline;}
#links {overflow: hidden; margin: 0; }
#links #links-list { list-style: none; padding: 0; margin-left: -3px}
#links #links-list .links-list-li:before { content: " | "; }


/* popup */

#myBtn, #example {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 7px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 