body {
  font-family: 'IBM Plex Sans';
  font-size: 70%;
  background-color: #D6D6D6;
  margin-left: 15%;
  margin-right: 26%;
  background: linear-gradient(90deg, white 84.5%, #2C3E50 15.5%);
}

input, textarea, button {font-family: inherit}

#h1-container {
  text-align: center;
  margin-top: 27px;
  margin-left: 18.7%;
}

h1 {
  font-size: 28px;
  color: #7F7E7E;
}

.a-profile {
    margin-left: 25px;
}

#description {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
  min-height: 125px;
}

#prev, #next, #submit-button {  
    border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 50px;
}

#prev, #next {
    width: 8%;
    right: 3.7%;
    position: fixed;
    height: 6.5%;
    font-size: 1.5em;
}

#prev {
    background-color: #617487;
    top: 15%;
    visibility: hidden;
}

#next {
    top: 75%;
    background-color: #D6743C;
}

table {
  border-collapse: collapse;
  font-size: 75%;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #2C3E50;
  color: white;
}    

th, td {
    text-align: center;
}

.hidden-cell {
    visibility: hidden;
    border: none;
}

.unused-profile {
    opacity: 0.5;
}

.profile-cell {
    background-color: white;
    border: none;
    cursor: default;
    font-size: 14px;
}

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltiptext {
width: max-content; 
max-width: 600px;
}

.tooltip .tooltiptext {
visibility: hidden;
opacity: 0;
background-color: #2C3E50;
color: #fff;
text-align: center;
border-radius: 6px;
/* Position the tooltip */
transition: opacity 0.3s ease-in-out;
position: absolute;
display: block;
z-index: 1;
left: 110%;
top: 110%;
}

.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}

.tooltipcontent {
padding-left: 5px;
padding-right: 5px;
}

#image {
    position: fixed;
}

#outcomes-table {
    width: 106%;
    margin-left: -37px;
    overflow: hidden;
    height: 300px;
}

#outcomes-table:hover {
    overflow-x: auto;
}

#image {
    bottom: 9.75%;
    left: 50%;
    transform: translate(-50%, 0);
}

#rate-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  left: 3%;
  bottom: 5%;
}

#submit-button {
    background-color: #2C3E50;
    width: 4.5vw;
    height: 2vw;
    font-size: 1vw;
}

#submit-area {
    margin-left: 90%;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.feedback-question {
    margin-bottom: -0.5%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto; /* 7.5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 7px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* */

input.star-a { display: none; }
label.star-a {
  float: right;
  padding: 3px;
  font-size: 14px;
  color: #444;
  transition: all .2s;
}
input.star-a:checked ~ label.star-a:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5-a:checked ~ label.star-a:before {
  color: #FE7;
  text-shadow: 0 0 8px #952;
}
input.star-1-a:checked ~ label.star-a:before { color: #F62; }
label.star-a:hover { transform: rotate(-15deg) scale(1.3); }
label.star-a:before {
  content: '\f006';
  font-family: FontAwesome;
}

.stars {
    display: inline-block;
}

.stars input {
    display: none;
}

.stars label {
    float: right;
    padding: 2px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

.stars label:before {
    content: '\2605';
}

.stars input:checked ~ label:before {
    color: gold;
    transition: all .25s;
}

.stars label:hover {
    transform: scale(1.3);
}

textarea {
  outline: none;
  resize:  none;
  margin-bottom: 1%;
}

strong {
    color: #617487;
}

