body {
  font-family: 'IBM Plex Sans';
  font-size: 70%;
  margin-left: 15%;
  margin-right: 26%;
  background: linear-gradient(90deg, white 84.5%, #2C3E50 15.5%);
}

input, textarea, button {font-family: inherit}

#h1-container {
  text-align: center;
  margin-top: 27px;
  margin-left: 18.7%;
}

h1 {
  font-size: 28px;
  color: #7F7E7E;  
}

#submit {
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 3vw;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 50px;
  position: fixed;
  width: 7vw;
  right: 3.7%;
  font-size: 1vw;
  bottom: 15%;
  background-color: #D6743C;
}

.candidates {
  display: inline-block;
  width: 100%;
}

label {
  user-select: none;
  -webkit-user-select: none;
}

#outcome {
  margin-bottom: 3.5%;
}

#checkboxes {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

#outcome-title, #corpus-title, #outcome, #axioms {
  float: left;
}

#outcome {
  height: 80px;
}

#axioms {
  height: 80px;
}

#outcome, #outcome-title, #axioms {
  width: 33.3%;
}

#axioms {
  column-count: 2;
  column-fill: auto;
  width: 66.6%;
}

#corpus-title {
  width: 66%;
}

p, #the-profile {
  text-align: justify;
  text-justify: inter-word;
  font-size: 15px;
  width: 100%;
}

#loading {
  text-align: center;
  font-size: 20px;
  visibility: hidden;
  margin-top: 10%;
}

/*        */

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: #2C3E50;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 110%;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}