body {
    margin: 5% auto;
    width: 638px;
    background-color: #002b36;
    color: #93A1A1;
    text-rendering: optimizeLegibility;
}

.position {
    margin: 1%;
}

#increase {
    color: #859900;
}

#decrease {
    color: #dc322f;
}

#increase, #decrease {
    margin: 10px;
    top: 50%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    font-weight: bold;
}

button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: #93A1A1;
    cursor: pointer;
    font-size: 30px;
    text-rendering: optimizeLegibility;
}

#selectables {
    margin: 20% auto;
    text-align: right;
}

ul {
    list-style: none;
    padding: 2px;
}

ul li {
    margin-bottom: 20px;
}

ul li:before {
  content: ">  ";
}

.inlineimg {
    height: 1em; 
    width: 1em
}

img {
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.dulled {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}