<!DOCTYPE html>
<html>
  <head>
    <title>Automated Justification</title>
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}/>
    <script type="text/javascript">
      candidates = [];
      {% for candidate in candidates %} candidates.push('{{candidate}}'); {% endfor %}
    </script>
    <script src="{{url_for('static', filename='buildprofile.js')}}"></script>
  </head>
  <body>
    <h1>Build a profile</h1>
    <button type="button" onclick="add_ballot();">add ballot</button>
    <div id="ballots">
    </div>
      Choose axioms
      <div id="axioms">
      {% for axiom in axioms %}
        <input type="checkbox" id="{{axiom}}" name="{{axiom}}" value="{{axiom}}">
        <label for="{{axiom}}">{{axiom}}</label><br>
      {% endfor %}
      </div>
      Choose outcomes
      <div id="outcome">
      {% for candidate in candidates %}
        <input type="checkbox" id="{{candidate}}" name="{{candidate}}" value="{{candidate}}">
        <label for="{{candidate}}">{{candidate}}</label><br>
      {% endfor %}
      </div>
    <button type="button" onclick="submit();">submit</button>
  </body>
</html>