<!DOCTYPE html>
<html>
  <head>
    <title>Automated Justification</title>
    <link rel="stylesheet" href={{url_for('static', filename='buildprofile.css')}}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script type="text/javascript">
      candidates = [];
      {% for candidate in candidates %} candidates.push('{{candidate}}'); {% endfor %}
    </script>
    <script src="{{url_for('static', filename='buildprofile.js')}}"></script>
  </head>
  <body>
    <h1>Automated Justification</h1>
    <h2>Build a profile</h2>
    <p>Insert the preferences of the voters. To add a new ballot, click on "Add voter preference". Click on the alternatives on the left to rank them; you can click on an already-ranked alternative to remove it. The number on the topleft of a ballot indicates the number of voters expressing that ballot.</p>
    <button id="addBallotButton" type="button" onclick="add_ballot();">Add voter<br>preference</button>

    <div id="ballots">
    </div>

    <button id="submit" type="button" onclick="submit();">Next</button>
  </body>
</html>