<!DOCTYPE html>
<html>
  <head>
    <title>Automated Justification</title>
    <link rel="stylesheet" href="{{base_url}}/static/standard.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">
  </head>
  <body>
    <div id="h1-container"><h1>Automated Justification</h1></div>
    <h2>No justification found!</h2>
    <p>No justification was found for outcome {{outcome|safe}} for this profile:</p>
    <p id="profile">{{profile_text|safe}}</p>
    <p>You asked for these normative principles to be used:
    <ul>
      {% for axiom in axioms %}
      <li>{{axiom}}</li>
      {% endfor %}
    </ul></p>
    <p>This might be due to one of two reasons: either the normative principles selected simply cannot justify the desired outcome, or the bound on the search depth for this demonstration tool happens to be too low for this particular example.</p>
  </body>
</html>