<!DOCTYPE html>
<html>
  <head>
    <title>Automated Justification</title>
    <link rel="stylesheet" href={{url_for('static', filename='style.css')}}/>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </head>
  <body>
    <h1>Welcome!</h1>
      <textarea id="addCandidate" name="addCandidate" rows="1">Candidate</textarea> <button id="add" type="button" onclick="add_candidate();">Add!</button>
      <div id="candidates">
      {% for candidate in candidates %}
      <span id="{{candidate}}">{{candidate}}<button type="button" onclick="remove({{candidate}});">x</button></span><br>
      {% endfor %}
      </div>
      <button id="submit" type="button" onclick="submit();">submit</button>
    </body>
</html>