<style type="text/css">

    body {
      font-family: sans-serif;
      font-size: 70%;
      background-color: #D6D6D6;
      margin-left: 26%;
      margin-right: 26%;
      background: linear-gradient(90deg, #fefbd8 84.5%, #618685 15.5%);
    }
    h1 {
      margin-top: 11.5%;
    }

    h1, h2, h3 {
      color: #7F7E7E;
    }

    #description {
      width: 100%;
      text-align: justify;
      text-justify: inter-word;
      font-size: 15px;
      min-height: 150px;
    }

    button {  
        border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      height: 4vw;
      list-style: none;
      margin: 0;
      outline: none;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      border-radius: 50px;
      position: fixed;
      width: 9vw;
      right: 3%;
      font-size: 1vw;
    }

    #prev {
        background-color: #36486b;
        top: 15%;
    }

    #next {
        bottom: 15%;
        background-color: #4040a1;
    }

    table {
      font-family: sans-serif;
      border-collapse: collapse;
      font-size: 75%;
      width: 100%;
    }

    table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table tr:nth-child(even){background-color: #f2f2f2;}

    table tr:hover {background-color: #ddd;}

    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #36486b;
      color: white;
    }    

    th, td {
        text-align: center;
    }

    .hidden-cell {
        visibility: hidden;
        border: none;
    }

    .unused-profile {
        opacity: 0.5;
    }

    .profile-cell {
        background-color: #fefbd8;
        border: none;
        cursor: default;
    }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltiptext {
    width: max-content; 
    max-width: 600px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: #618685;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip */
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    display: block;
    z-index: 1;
    left: 110%;
    top: 110%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltipcontent {
    padding-left: 5px;
    padding-right: 5px;
  }

    #image {
        position: fixed;
    }

    #outcomes-table {
        width: 106%;
        margin-left: -37px;
        overflow: hidden;
        height: 225px;
    }

    #outcomes-table:hover {
        overflow-x: auto;
    }

    #image {
        bottom: 9.75%;
        left: 50%;
        transform: translate(-50%, 0);
    }
</style>

<script type="text/javascript">
  var pngs = {};
  var labels = {};
  var outcomes = {};
  var profiles = {};
  var tables = {};
  {% for node in nodes %}
    pngs.{{node}} = "{{pngs[node]}}";
    labels.{{node}} = "{{labels[node]|safe}}";
    tables.{{node}} = "{{tables[node]|safe}}";
    outcomes.{{node}} = {};
    profiles.{{node}} = [];
    {% for profile in profiles[node] %}
        profiles["{{node}}"].push("{{profile}}")
        outcomes["{{node}}"]["{{profile}}"] = [];
        {% for outcome in outcomes[node][profile] %}
            outcomes["{{node}}"]["{{profile}}"].push("{{outcome}}");
        {% endfor %}
    {% endfor %}
  {% endfor %}
  var current = 1;
  var max = {{len_nodes}};
  var min = 1;
</script>

<h1>Automated Justification</h1>

<p id="description">{{labels[nodes[0]]|safe}}</p>

<div id="outcomes-table"></div>

<script type="text/javascript">document.getElementById("outcomes-table").innerHTML = tables["{{nodes[0]}}"];</script>

<div id="image">
    <img src="data:image/png;base64,{{pngs[nodes[0]]}}", usemap="#G"/>
    {{map | safe}}    
</div>

<button onclick="prev();" id="prev">Previous step</button>
<button onclick="next();" id="next">Next step</button>

<script type="text/javascript">

function change_image(node) {
    document.getElementById("image").getElementsByTagName("img")[0].src = "data:image/png;base64," + pngs[node];
    document.getElementById("description").innerHTML = labels[node];

    document.getElementById("outcomes-table").innerHTML = tables[node];
}

function click_node(event, id) {
    event.preventDefault();

    var node = "N" + id.slice(-1);
    change_image(node);
    current = parseInt(id.slice(-1));
}

var areas = document.getElementsByTagName('area');
for (var i = 0; i < areas.length; i++) {
    areas[i].setAttribute('onclick', 'click_node(event, \"' + areas[i].id + '\");')
}

function next() {
    if (current < max) {
        current = current + 1;
        var node = "N" + current;
        change_image(node);
    }
}

function prev() {
    if (current > min) {
        current = current - 1;
        var node = "N" + current;
        change_image(node);
    }
}

</script>