<!DOCTYPE html>
<html>
  <head>
    <title>Automated Justification</title>
    <link rel="stylesheet" href="{{url_for('static', filename='justification.css')}}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">
    <script type="text/javascript">
      var pngs = {};
      var labels = {};
      var outcomes = {};
      var profiles = {};
      var tables = {};
      {% for node in nodes %}
        pngs.{{node}} = "{{pngs[node]}}";
        labels.{{node}} = "{{labels[node]|safe}}";
        tables.{{node}} = "{{tables[node]|safe}}";
        outcomes.{{node}} = {};
        profiles.{{node}} = [];
        {% for profile in profiles[node] %}
            profiles["{{node}}"].push("{{profile}}")
            outcomes["{{node}}"]["{{profile}}"] = [];
            {% for outcome in outcomes[node][profile] %}
                outcomes["{{node}}"]["{{profile}}"].push("{{outcome}}");
            {% endfor %}
        {% endfor %}
      {% endfor %}
      var current = 1;
      var max = {{len_nodes}};
      var min = 1;
      var justification = "{{justification|safe}}";
      var html_justification = "{{html_justification|safe}}";
    </script>
  </head>
  <body>
      <div id="h1-container"><h1>Automated Justification</h1></div>

<p id="description">{{labels[nodes[0]]|safe}}</p>

<div id="outcomes-table"></div>

<script type="text/javascript">document.getElementById("outcomes-table").innerHTML = tables["{{nodes[0]}}"];</script>

<div id="image">
    <img src="data:image/png;base64,{{pngs[nodes[0]]}}", usemap="#G"/>
    {{map | safe}}    
</div>

<button onclick="prev();" id="prev">back</button>
<button onclick="next();" id="next">next</button>

<button id="myBtn">Rate this justification</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Rate this justification and support our research</h2>
            <p><strong></style>How much do you agree with these statements?</strong></p>
            <p style="margin-bottom: -0.5%;"><i>I found the explanations easy to understand</i></p>
            <div id="understandable" class="stars">
                <input id="star-5" type="radio" name="star" class="5"/>
                <label for="star-5"></label>
                <input id="star-4" type="radio" name="star" class="4"/>
                <label for="star-4"></label>
                <input id="star-3" type="radio" name="star" class="3"/>
                <label for="star-3"></label>
                <input id="star-2" type="radio" name="star" class="2"/>
                <label for="star-2"></label>
                <input id="star-1" type="radio" name="star" class="1"/>
                <label for="star-1"></label>
            </div>
            <p style="margin-bottom: -0.5%;"><i>I found the arguments convincing</i></p>
            <div id="convincing" class="stars">
                <input id="star-2-5" type="radio" name="star-2" class="5"/>
                <label for="star-2-5"></label>
                <input id="star-2-4" type="radio" name="star-2" class="4"/>
                <label for="star-2-4"></label>
                <input id="star-2-3" type="radio" name="star-2" class="3"/>
                <label for="star-2-3"></label>
                <input id="star-2-2" type="radio" name="star-2" class="2"/>
                <label for="star-2-2"></label>
                <input id="star-2-1" type="radio" name="star-2" class="1"/>
                <label for="star-2-1"></label>
            </div>
                <p><strong>Do you have any further feedback?</strong></p>
                <textarea id="further-feedback" cols="45" rows="5"></textarea><br>
                <span id="submit-area"><button id="submit-button" onclick="submit_form();">submit</button></span>
          </div>

        </div>
        <script src="{{url_for('static', filename='justification.js')}}"></script>
  </body>