<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">
<style type="text/css">

    body {
      font-family: 'IBM Plex Sans';
      font-size: 14px;
      background-color: #D6D6D6;
      margin-left: 15%;
      margin-right: 26%;
      background: linear-gradient(90deg, white 84.5%, #2C3E50 15.5%);
    }

    input, textarea, button {font-family: inherit}
    
    #h1-container {
      text-align: center;
      margin-top: 27px;
      margin-left: 18.7%;
    }

    h1 {
      font-size: 28px;
      color: #7F7E7E;
    }

    .a-profile {
        margin-left: 25px;
    }

    #description {
      width: 100%;
      text-align: justify;
      text-justify: inter-word;
      font-size: 15px;
      min-height: 125px;
    }

    #prev, #next, #submit-button {  
        border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      list-style: none;
      margin: 0;
      outline: none;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      border-radius: 50px;
    }

    #prev, #next {
        width: 8%;
        right: 3.7%;
        position: fixed;
        height: 6.5%;
        font-size: 1.5em;
    }

    #prev {
        background-color: #617487;
        top: 15%;
        visibility: hidden;
    }

    #next {
        top: 75%;
        background-color: #D6743C;
    }

    table {
      border-collapse: collapse;
      font-size: 75%;
      width: 100%;
    }

    table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table tr:nth-child(even){background-color: #f2f2f2;}

    table tr:hover {background-color: #ddd;}

    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: #2C3E50;
      color: white;
    }    

    th, td {
        text-align: center;
    }

    .hidden-cell {
        visibility: hidden;
        border: none;
    }

    .unused-profile {
        opacity: 0.5;
    }

    .profile-cell {
        background-color: white;
        border: none;
        cursor: default;
        font-size: 14px;
    }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltiptext {
    width: max-content; 
    max-width: 600px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip */
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    display: block;
    z-index: 1;
    left: 110%;
    top: 110%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltipcontent {
    padding-left: 5px;
    padding-right: 5px;
  }

    #image {
        position: fixed;
    }

    #outcomes-table {
        width: 106%;
        margin-left: -37px;
        overflow: hidden;
        height: 300px;
    }

    #outcomes-table:hover {
        overflow-x: auto;
    }

    #image {
        bottom: 9.75%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #myBtn {
      background: none!important;
      border: none;
      padding: 0!important;
      /*optional*/
      color: #069;
      text-decoration: underline;
      cursor: pointer;
      font-size: 16px;
        position: fixed;
      left: 3%;
      bottom: 5%;
    }

    #submit-button {
        background-color: #2C3E50;
        width: 4.5vw;
        height: 2vw;
        font-size: 1vw;
    }

    #submit-area {
        margin-left: 90%;
    }

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 4% auto; /* 7.5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 7px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* */

input.star-a { display: none; }
label.star-a {
  float: right;
  padding: 3px;
  font-size: 14px;
  color: #444;
  transition: all .2s;
}
input.star-a:checked ~ label.star-a:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5-a:checked ~ label.star-a:before {
  color: #FE7;
  text-shadow: 0 0 8px #952;
}
input.star-1-a:checked ~ label.star-a:before { color: #F62; }
label.star-a:hover { transform: rotate(-15deg) scale(1.3); }
label.star-a:before {
  content: '\f006';
  font-family: FontAwesome;
}

.stars {
    display: inline-block;
}

.stars input {
    display: none;
}

.stars label {
    float: right;
    padding: 2px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

.stars label:before {
    content: '\2605';
}

.stars input:checked ~ label:before {
    color: gold;
    transition: all .25s;
}

.stars label:hover {
    transform: scale(1.3);
}

textarea {
  outline: none;
  resize:  none;
  margin-bottom: 1%;
}

strong {
    color: #617487;
}

</style>

<script type="text/javascript">
  var pngs = {};
  var labels = {};
  var outcomes = {};
  var profiles = {};
  var tables = {};
  {% for node in nodes %}
    pngs.{{node}} = "{{pngs[node]}}";
    labels.{{node}} = "{{labels[node]|safe}}";
    tables.{{node}} = "{{tables[node]|safe}}";
    outcomes.{{node}} = {};
    profiles.{{node}} = [];
    {% for profile in profiles[node] %}
        profiles["{{node}}"].push("{{profile}}")
        outcomes["{{node}}"]["{{profile}}"] = [];
        {% for outcome in outcomes[node][profile] %}
            outcomes["{{node}}"]["{{profile}}"].push("{{outcome}}");
        {% endfor %}
    {% endfor %}
  {% endfor %}
  var current = 1;
  var max = {{len_nodes}};
  var min = 1;
</script>

<div id="h1-container"><h1>Automated Justification</h1></div>

<p id="description">{{labels[nodes[0]]|safe}}</p>

<div id="outcomes-table"></div>

<script type="text/javascript">document.getElementById("outcomes-table").innerHTML = tables["{{nodes[0]}}"];</script>

<div id="image">
    <img src="data:image/png;base64,{{pngs[nodes[0]]}}", usemap="#G"/>
    {{map | safe}}    
</div>

<button onclick="prev();" id="prev">back</button>
<button onclick="next();" id="next">next</button>

<button id="myBtn">Rate this justification</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Rate this justification and support our research</h2>
            <p><strong></style>How much too you agree with these statements?</strong></p>
            <p style="margin-bottom: -0.5%;"><i>I found the explanations easy to understand</i></p>
            <div id="understandable" class="stars">
                <input id="star-5" type="radio" name="star" class="5"/>
                <label for="star-5"></label>
                <input id="star-4" type="radio" name="star" class="4"/>
                <label for="star-4"></label>
                <input id="star-3" type="radio" name="star" class="3"/>
                <label for="star-3"></label>
                <input id="star-2" type="radio" name="star" class="2"/>
                <label for="star-2"></label>
                <input id="star-1" type="radio" name="star" class="1"/>
                <label for="star-1"></label>
            </div>
            <p style="margin-bottom: -0.5%;"><i>I found the arguments convincing</i></p>
            <div id="convincing" class="stars">
                <input id="star-2-5" type="radio" name="star-2" class="5"/>
                <label for="star-2-5"></label>
                <input id="star-2-4" type="radio" name="star-2" class="4"/>
                <label for="star-2-4"></label>
                <input id="star-2-3" type="radio" name="star-2" class="3"/>
                <label for="star-2-3"></label>
                <input id="star-2-2" type="radio" name="star-2" class="2"/>
                <label for="star-2-2"></label>
                <input id="star-2-1" type="radio" name="star-2" class="1"/>
                <label for="star-2-1"></label>
            </div>
                <p><strong>Do you have any further feedback?</strong></p>
                <textarea id="further-feedback" cols="45" rows="5"></textarea><br>
                <span id="submit-area"><button id="submit-button" onclick="submit_form();">submit</button></span>
          </div>

        </div>

<script type="text/javascript">

function post(path, params, method='post') {

  // The rest of this code assumes you are not using a library.
  // It can be made less verbose if you use one.
  const form = document.createElement('form');
  form.method = method;
  form.action = path;
  form.target = "_blank" //open in new page

  for (const key in params) {
    if (params.hasOwnProperty(key)) {
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = key;
      hiddenField.value = params[key];

      form.appendChild(hiddenField);
    }
  }

  document.body.appendChild(form);
  form.submit();
}

function submit_form() {
    var understandable = document.getElementById("understandable");
    radios = understandable.getElementsByTagName("input");
    var understandability = "";
    for (var i = 0 ; i < radios.length; i++) {
        if (radios[i].checked) understandability = radios[i].className;
    }

    var convincing = document.getElementById("convincing");
    radios = convincing.getElementsByTagName("input");
    var convincingness = "";
    for (var i = 0 ; i < radios.length; i++) {
        if (radios[i].checked) convincingness = radios[i].className;

    }

    feedback = document.getElementById("further-feedback").value;

    var submit = document.getElementById("submit-area");
    submit.innerHTML = "<strong>Thank you!</strong>"

    post("/feedback", {"understandability": understandability, "convincingness": convincingness, "feedback": feedback, "justification": "{{justification}}"})
}

// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
} 


</script>

<script type="text/javascript">

var areas = document.getElementsByTagName('area');
for (var i = 0; i < areas.length; i++) {
    areas[i].setAttribute('onclick', 'click_node(event, \"' + areas[i].id + '\");')
}

function change_image(node) {
    if (current == max) {
        document.getElementById("next").style.visibility = "hidden";
    } else {
        document.getElementById("next").style.visibility = "visible";
    }

    if (current == min) {
        document.getElementById("prev").style.visibility = "hidden";
    } else {
        document.getElementById("prev").style.visibility = "visible";
    }

    document.getElementById("image").getElementsByTagName("img")[0].src = "data:image/png;base64," + pngs[node];
    document.getElementById("description").innerHTML = labels[node];

    document.getElementById("outcomes-table").innerHTML = tables[node];
}

function click_node(event, id) {
    event.preventDefault();

    var node = "N" + id.slice(-1);
    current = parseInt(id.slice(-1));
    change_image(node);
}

function next() {
    if (current < max) {
        current = current + 1;
        var node = "N" + current;
        change_image(node);
    }
}

function prev() {

    if (current > min) {
        current = current - 1;
        var node = "N" + current;
        change_image(node);
    }
}

</script>