<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans">
    <title>Automated Justification</title>
    <link rel="stylesheet" href="{{url_for('static', filename='standard.css')}}"/>
  </head>
  <body>
    <div id="h1-container"><h1>Automated Justification</h1></div>
    <h2>Timeout!</h2>
    <p>The search exhausted the maximum allocated runtime allowed for the purposes of this demo. Sorry!<br>
    No justification was found for outcome {{outcome|safe}} for this profile:</p>
    <p id="profile">{{profile_text|safe}}</p>
    <p>You asked for these normative principles to be used:
    <ul>
      {% for axiom in axioms %}
      <li>{{axiom}}</li>
      {% endfor %}
    </ul></p>
  </body>
</html>