<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/home/oliviero/ILLC_RA/JustificationTreeBuilder-master/src/displaytree/templates/style.css" media="screen"/>
</head>
<body>
  <div id="mynetwork"></div>
</body>
{% block content %}
{% endblock %}
<script type="text/javascript" src="/home/oliviero/ILLC_RA/JustificationTreeBuilder-master/src/displaytree/templates/script.js"></script>
</html>
